* {
	padding: 0;
	margin: 0;
	top: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../images/window-background.png');
	background-size: cover;
}

#main-menu , #playground {
	margin-top: 20px;
	width: 70vw;
	height: 700px;
	overflow-x: hidden;
	background: #ccc;
	border-radius: 10px;
}

.menu {
	background: url('../images/main-menu.gif');
	background-size: cover;
	width: inherit;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn {
	padding-bottom: 20px;
	cursor: pointer;
}

.game-background {
	position: relative;
	background: url('../images/background.png');
	background-size: cover;
	background-repeat: repeat-x;
	width: inherit;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 250px;
}

.clouds {
	position: absolute;
	z-index: 999;
	width: 100%;
	animation: clouds-animation 25s linear infinite;
}

.clouds::after {
	content: " ";
	background: url('../images/background-sky.png') repeat-x;
	position: absolute;
	width: 10000px;
	height: 270px;
	z-index: 999;
}


@keyframes clouds-animation {
	from {
		right: 0px;
	}

	to {
		right: 100%;
	}
}

canvas {
	z-index: 1000;
}
